<div id="footer">
    <div class="f-top">
        <div class="center">
            <ul class="f-gnb">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">오시는길</a></li>
                <li><a href="#">개인정보처리지침</a></li>
                <li><a href="#">이메일무단수집거부</a></li>
            </ul>
        </div>
    </div>
    <div class="f-bot">
        <div class="center">
            <img src="/img/logo.png">
            <div>
                <p class="info"><span>본사</span>경상북도 경주시 천북면 천북산단로 70 <i>Tel. 054-743-5538</i> <i>Fax. 054-743-5536</i></p>
                <p class="copy">COPYIGHT (c) <span>GNTECH.</span> RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</div>